table {
	display: block;
	table-layout:fixed;
	width:100%;
	word-break: break-word;
}

th,td {
	padding: 7px;
	border: 1px solid black;
	font-size:14px;
}
#form-group {
	width:40%;
}
.column {
  float: left;
  width: 50%;
}
#clearBtn {
	background-color:darkred;
	border: 3px black;
	padding:3px;
	float:right;}
#loading {
	align: center;
    display: none;
    background: url(/static/loading.gif);
    cursor: wait;
    }